
node_modules/


.expo/
.expo-shared/
dist/
web-build/
npm-debug.*
yarn-debug.*
yarn-error.log
.expo-devices.json


android
ios



.env
.env.*
firebase.config.js


*.jks
*.p8
*.p12
*.key
*.mobileprovision
google-services.json
GoogleService-Info.plist


.DS_Store
Thumbs.db
.vscode/
.idea/


*.log


expo-env.d.ts
